@charset "UTF-8";
@import "colorBtn";

body{
  font-size: 16px;
}
.m-b-20{
  margin-bottom: 20px;
}
.m-t-40{
  margin-top: 40px;
}
.p-t-40{
  padding-top: 40px;
}
.input-lg{
	height: 44px;
	font-size: 16px;
}
.table{
	thead{
		tr{
			td{
				vertical-align: middle;
				font-weight: bold;
			}
		}
	}
	tbody{
		tr{
			td{
				vertical-align: middle;
				p{
					margin-bottom: 4px;
				}
			}
		}
	}
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: $mainColorBg;
}

//验证提示信息
.Verify-box{
	position: relative;
	.Verify{
		position: absolute;
		color: red;
		left: 20px;
		bottom: -26px;
	}
}