@charset "UTF-8";
@import "colorBtn";

body{
  font-size: 16px;
}
.m-b-20{
  margin-bottom: 20px;
}
.m-t-40{
  margin-top: 40px;
}
.table{
	thead{
		tr{
			td{
				vertical-align: middle;
				font-weight: bold;
			}
		}
	}
	tbody{
		tr{
			td{
				p{
					margin-bottom: 4px;
					vertical-align: middle;
				}
			}
		}
	}
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: $mainColorBg;
}