@charset "UTF-8";

//--------配色--------
// 主色
.btn-FEE300{
    background-color: #FEE300;
    &:hover{
        background-color: #FFEB47;
    }
}
.btn{
    border-radius: 8px;
    padding: 4px 8px;
    width: 106px;
}
.btn-default{
    background-color: #fff;
    &:hover{
        background-color: #fff;
    }
}